/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

/*Header*/
.top-nav{
    display:flex;
   
    justify-content: space-evenly;
    align-items: center;
    width: 48%;
    margin-left: 26%;
    padding-bottom: 2%;
}

nav a{
    padding: 2%;
    text-decoration: none;
    color: black;
}
/*top picture first page*/
.Jumbo-img{
    margin-left: 28.5%;
    padding-bottom: 2%;
}


p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}


/*BOXES*/



.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly ;
}

.middle-content .boxes .box1{
    width: 12.5%;
    height: 100px;
    background:teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box2{
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box3{
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box4{
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box5{
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box6{
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px  2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    
}

.middle-content .boxes .box7{
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
   ;
}

.middle-content .boxes .box8{
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px  2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    
}

.middle-content .boxes .box9{
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.middle-content .boxes .box10{
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}


/*BOXES*/





.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


/*About Page*/

.about-head{
    border-bottom-style: dotted;
    padding-bottom: 2%;
}


/*Middle content*/


.About-Middle{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Strategy{
    display:flex;
    flex-wrap: wrap;
    width: 48%;
    border-bottom: dotted;
    border-color: gray;
    padding-bottom: 3%;
}

.How-We-Work{
    display: flex;
    display:flex;
    flex-wrap: wrap;
    width: 48%;
    border-bottom: dotted;
    border-color: gray;
    padding-bottom: 3%;
}

.Places-We-Work{
    display:flex;
    flex-wrap: wrap;
    width: 48%;
    border-bottom: dotted;
    padding-bottom: 3%;
}

.Collaboration{
    display:flex;
    flex-wrap: wrap;
    width: 48%;
    border-bottom: dotted;
    padding-bottom: 3%;
}

.middle-imgs1{
    padding-top: 6%;
}

.middle-imgs2{
    padding-top: 10%;
}

button{
    position: relative;
       
       
        color: black;
        font-size: 14px;
        border-color: black;
        border-style: solid;
        
        border-radius: 12%;
        padding:2%;
        margin-top: 2%;
    
}


/*Bottom*/

.About-Bottom{
    padding-top: 5%;
    padding-bottom: 5%;
}

/*contac*/


.Contact{
    margin-left: 50%;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(170, 119, 52);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }